.topSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.resultSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}